/* import "Vollkorn" font from google fonts */
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic);

body {
    background: -moz-linear-gradient(top, rgba(241, 241, 241, 1) 0%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(241, 241, 241, 1)), color-stop(50%, rgba(255, 255, 255, 0.5)), color-stop(100%, rgba(255, 255, 255, 0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(241, 241, 241, 1) 0%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(241, 241, 241, 1) 0%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(241, 241, 241, 1) 0%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(241, 241, 241, 1) 0%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f1f1', endColorstr='#00ffffff', GradientType=0); /* IE6-9 */
    background-repeat: no-repeat;
    font-family: 'Source Sans Pro', sans-serif;
}

.content_box {
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
    min-height: 500px;
    background: white;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
}

.content {
    padding: 50px;
}

.logo {
    float: right;
    position: relative;
    top: 50px;
    right: 50px;
}