/* import "Vollkorn" font from google fonts */
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic);

body {
    background: -moz-linear-gradient(top, rgba(241, 241, 241, 1) 0%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(241, 241, 241, 1)), color-stop(50%, rgba(255, 255, 255, 0.5)), color-stop(100%, rgba(255, 255, 255, 0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(241, 241, 241, 1) 0%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(241, 241, 241, 1) 0%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(241, 241, 241, 1) 0%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(241, 241, 241, 1) 0%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f1f1', endColorstr='#00ffffff', GradientType=0); /* IE6-9 */
    background-repeat: no-repeat;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
}

.content_box {
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
    min-height: 500px;
    background: white;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
}

.content {
    padding: 50px;
}

.logo {
    float: right;
    position: relative;
    top: 50px;
    right: 50px;
}

.item {
    margin-bottom: 10px;
    width: 100%;
}

.wkoButton {

    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
    background: -moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background: -webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background: -o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background: -ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6', GradientType=0);

    background-color: #ffffff;

    border: 1px solid #dcdcdc;

    display: inline-block;
    color: #666666;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    /*font-weight:bold;*/
    padding: 4px 20px;
    text-decoration: none;

}

.wkoButton:hover {

    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
    background: -moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background: -webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background: -o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background: -ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background: linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff', GradientType=0);

    background-color: #f6f6f6;
}

.wkoButton:active {
    position: relative;
    top: 1px;
}

input {
    border: 1px solid #dcdcdc;
    background: #f9f9f9;
    color: #968e86;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    padding: 4px 20px;
}

input:focus {
    background: #ffffff;
    color: #000000;
}
