{% extends "wko_base.html" %}
{% load i18n %}

{% block head %}
    {{ wizard.form.media }}
{% endblock %}

{% block sectiontitle %}<p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>{% endblock %}

{% block content %}
    <form action="" method="post">{% csrf_token %}
        {{ wizard.management_form }}
        {% if wizard.form.forms %}
            {{ wizard.form.management_form }}
            {% for form in wizard.form.forms %}
                <div class="item">
                    {{ form.as_p }}
                    <p style=""><a class="delete" href="#">Delete</a></p>
                </div>
            {% endfor %}
        {% endif %}

        <p><a id="add" href="#">Add another item</a></p>
        {% if wizard.steps.prev %}
            <button name="wizard_goto_step" type="submit"
                    value="{{ wizard.steps.first }}">{% trans "first step" %}</button>
            <button name="wizard_goto_step" type="submit"
                    value="{{ wizard.steps.prev }}">{% trans "prev step" %}</button>
        {% endif %}
        <input type="submit" value="{% trans "submit" %}"/>
    </form>
{% endblock %}