{% extends "wko_base.html" %}
{% load i18n %}
{% load static %}

{% block head %}
    {{ wizard.form.media }}
{% endblock %}

{% block sectiontitle %}<p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>{% endblock %}

{% block content %}
    <form action="" method="post">{% csrf_token %}
        {{ wizard.management_form }}
        {% if wizard.form.forms %}
            {{ wizard.form.management_form }}
            {% for form in wizard.form.forms %}
                {% for field in form %}
                    <div class="item">
                        {{ field.errors }}
                        {{ field.label_tag }}: {{ field }}
                    <div style="display: inline-block">
                    <a class="delete" href="#"><span class="ui-icon ui-icon-circle-minus"></span></a>
                    </div>
                    </div>
                {% endfor %}
                {#                <div class="item">#}
                {#                    {{ form.as_ul }}<a class="delete" href="#"><img src="{% static "delete_icon.png" %}"></a>#}
                {#                </div>#}
            {% endfor %}
        {% endif %}

        <p><a id="add" href="#"><span class="ui-icon ui-icon-circle-plus">Add</span></a></p>
        <br><br>
        {% if wizard.steps.prev %}
            <button name="wizard_goto_step" class="wkoButton" type="submit"
                    value="{{ wizard.steps.first }}">{% trans "first step" %}</button>
            <button name="wizard_goto_step" class="wkoButton" type="submit"
                    value="{{ wizard.steps.prev }}">{% trans "prev step" %}</button>
        {% endif %}
        <input class="wkoButton" type="submit" value="{% trans "submit" %}"/>
    </form>
{% endblock %}